
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pokeContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 25px;
}

.pokemon {
    width: 175px;
    padding: 5px;
    border-radius: 15px;
    /* border: 5px solid black; */
    transition: transform 150ms ease;
}

.header {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.headerIMG{
    width: 100%;
}

.pokelist {
    list-style: none;
}

.bg-grass {background-image: linear-gradient(178.92deg, #7ec6c5 0.92%, #abdac6 47.96%);}
.bg-fire {background-image: linear-gradient(176.37deg, #f96d6f -32.26%, #e35825 22.55%);}
.bg-water {background-image: linear-gradient(179.57deg, #133258 -70.14%, #1479fb 56.16%);}
.bg-bug {background-image: linear-gradient(179.57deg, #6ac786 -70.14%, #59e470 56.16%);}
.bg-normal {background-image: linear-gradient(179.57deg, #a4a5af -70.14%, #9d9e9d 56.16%);}
.bg-poison {background-image: linear-gradient(179.57deg, #e223b9 -70.14%, #db2bc4 56.16%);}
.bg-electric {background-image: linear-gradient(179.57deg, #dcdf38 -70.14%, #f5f230 56.16%);}

.form-h1{
    font-size: 40px;
    text-transform: uppercase;
    color: #fe1936;
}

.form-h2{
    color: #0A285F;
}

.form-p{
    color: #8a8a8a;
}

.form form input{
    height: 25px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: none;
    box-shadow: 2px 2px 5px #d5d5d5;
    outline: none;
    padding-left: 5px;
    color: grey;
}

.form form button{
    height: 25px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: none;
    box-shadow: 2px 2px 5px #d5d5d5;
    outline: none;
    width: 50px;
    background-color: #fe1936;
    color: whitesmoke;
}

.adorno{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #fe1936;
    border-bottom: 40px solid black;
}

.adorno::after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid black;
}

.adorno::before{
    content: "";
    position: absolute;
    bottom: -9px;
    left: calc(50% - 11px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    z-index: 100;
}

.txttext{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #133258;
}

.txtname{
    color: #f96d6f;
}

.poketipo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.pokestadisticas{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.pokeitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txttitle{
    text-transform: uppercase;
    font-size: 10px;
}

.txtvalor{
    font-size: 12px;
}

.pokemon:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.form1{
}

.form1 input{
    padding-left: 8px;
    height: 25px;
    outline: none;
    border-top: 1px solid black;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form1 button{
    height: 25px;
    width: 50px;
    outline: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f96d6f;
    cursor: pointer;
    color: whitesmoke;
}

.form2{
    margin: 25px auto;
    width: 150px;
    height: 25px;
}
